/* Check Out Start */
#check-out {
  padding: 40px 0;
}

#check-out .check-out-system .heading h1 {
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--secondary-color);
}

#check-out .check-out-system .heading h1 span {
  padding-bottom: 8px;
  position: relative;
  border-bottom: 1px solid var(--secondary-color);
}

#check-out .check-out-system .heading h1 span::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  border-bottom: 1px solid var(--secondary-color);
  bottom: -6px;
}

#check-out .check-form {
  margin-top: 30px;
}

#check-out .check-out-system form {
  display: grid;
  margin-top: 10px;
}

#check-out .check-out-system form input {
  padding: 8px 12px;
  font-size: 16px;
  font-family: var(--secondary-font);
  border: 1px solid #a8bbc7;
  border-radius: 6px;
  margin-bottom: 10px;
  outline-offset: none;
  transition: 0.3s;
}

#check-out .check-out-system form input:focus {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  border: 1px solid var(--primary-color) !important;
  outline-style: none;
}

#check-out .check-out-system form label {
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  margin-bottom: 3px;
}

/* Remove spinner buttons in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#check-out .check-out-system form label span {
  vertical-align: text-bottom;
  color: #ffb800;
}

#check-out .check-out-system form select {
  width: 100%;
  padding: 11.3px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: #7c8992;
  border: 1px solid #a8bbc7;
  outline-style: none;
  margin-bottom: 0px;
  transition: 0.3s;
}

#check-out .check-out-system form select:focus {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  border: 1px solid var(--primary-color) !important;
  outline-style: none;
}

#check-out .check-out-system form textarea {
  font-size: 16px;
  padding: 12px 12px;
  font-family: var(--secondary-font);
  border: 1px solid #a8bbc7;
  border-radius: 6px;
  outline-style: none;
  transition: 0.3s;
}

#check-out .check-out-system form textarea:focus {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  border: 1px solid var(--primary-color) !important;
  outline-style: none;
}

#check-out .check-out-system form .form-check {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

#check-out .check-out-system form .form-check-input {
  border-radius: 4px;
  padding: 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -28px;
}

#check-out .check-out-system form .form-check-input:focus {
  border-color: #7c8992 !important;
}

.form-check-input:checked {
  background-color: #008cff !important;
  border-color: #5052ba;
}

.choose-currency label {
  font-weight: 800;
  font-size: 22px;
  font-family: var(--secondary-font);
  color: var(--primary-color);

}

.order-summery .choose-currency {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 20px 0px;
  background-color: var(--white);
  border-radius: 6px;
  padding: 10px;
}

.order-summery .choose-currency select {
  width: 160px;
  outline: none;
  font-size: 16px !important;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  padding: 6px 10px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--secondary-color);
  transition: 0.3s;
}

.order-summery .choose-currency select:focus {
  border-color: var(--primary-color);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
}

.product-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.header-item {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--primary-font);
}

.product-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 6px 10px;
}

.product-img {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.product-img img {
  width: 100px;
  border-radius: 6px;
  height: auto;
}

.product-img h1 {
  font-size: 14px;
  font-family: var(--primary-font);
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.qty,
.price {
  flex: 1;
  text-align: center;
}

.qty h1,
.price h1 {
  font-size: 14px;
  font-family: var(--primary-font);
  margin-bottom: 0px;
}

#check-out .check-out-system .calculation {
  margin-top: 20px;
}

#check-out .check-out-system .calculation .item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

#check-out .check-out-system .calculation .item h1 {
  font-size: 19px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--secondary-color);
}

#check-out .check-out-system .calculation .item h2 {
  font-size: 19px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--secondary-color);
}

#check-out .order-summery .apply-cuppon {
  display: flex;
  gap: 20px;
}

#check-out .order-summery .apply-cuppon input {
  width: 100%;
  border: 1px solid #7c8992;
  outline: none;
  padding: 8px 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
  border-radius: 6px;
  transition: 0.3s;
}

#check-out .order-summery .apply-cuppon input:focus {
  border-color: var(--primary-color);
}

#check-out .order-summery .apply-cuppon a {
  display: inline-block;
  outline: none;
  padding: 12px 22px !important;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--secondary-font);
  border-radius: 6px;
  background: var(--accent-2);
  color: var(--white);
  text-decoration: none;
  text-wrap: nowrap;
  transition: 0.4s;
}

#check-out .order-summery .apply-cuppon a:hover {
  background: var(--accent-1);
  color: var(--white);
}

#check-out .payments .heading {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#check-out .payments .heading h2 {
  position: relative;
  font-size: 22px;
  padding-bottom: 10px;
  font-family: var(--primary-font);
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 8px;
}

#check-out .payments .heading h2::before {
  content: "";
  position: absolute;
  bottom: -6px;
  font-size: 22px;
  margin-top: 8px;
  width: 60%;
  left: 20%;
  height: 1px;
  background: var(--secondary-color);
}

#check-out .payments .category {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#check-out .payments form input {
  display: none;
}

#check-out .category label {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  background: var(--text-color-white);
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #a8bbc7;
  position: relative;
  margin-top: 10px;
}

#bkash:checked~.category .bkashMethod,
#nagad:checked~.category .nagadMethod,
#pay:checked~.category .payMethod {
  box-shadow: 0px 0px 0px 1px #26a0da;
}

#bkash:checked~.category .bkashMethod .check,
#nagad:checked~.category .nagadMethod .check,
#pay:checked~.category .payMethod .check {
  display: block;
}

#check-out .imgName .imgContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check-out .product-img img {
  width: 50px;
  height: auto;
  border-radius: 6px;
}

#check-out .imgName img {
  width: 100%;
}

#check-out .check {
  display: none;
  position: absolute;
  top: 0px !important;
  left: 3px !important;
}

#check-out .check i {
  font-size: 20px;
  color: #26a0da !important;
}

#check-out .form-checks {
  display: flex;
  margin: 20px 0;
}

#check-out .form-checks input {
  width: 20px !important;
  height: 20px !important;
}

#check-out .form-checks h1 {
  font-size: 16px;
  padding-left: 10px;
  font-family: var(--secondary-font);
}

#check-out .payment-button {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}

#check-out .payment-button button {
  display: inline-block;
  text-wrap: nowrap;
}

#check-out .payment-button .confirm-btn {
  background: var(--primary-color);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  transition: 0.4s;
}

#check-out .payment-button .confirm-btn:hover {
  background: var(--accent-1);
  color: var(--white);
}

#check-out .payment-button .return-btn:hover {
  background: var(--accent-1);
  color: var(--white);
}

#check-out .payment-button .return-btn {
  background: var(--primary-color);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  transition: 0.4s;
}

@media screen and (max-width: 992px) {
  #check-out .order-summery {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  #check-out .payment-button {
    display: block;
  }

  #check-out .payment-button .return-btn {
    margin-top: 10px;
  }

  #check-out .order-summery .apply-cuppon a {
    padding: 12px 20px;
    text-wrap: nowrap;
    font-size: 12px;
  }

  #check-out .returning-option h1 {
    font-size: 12px;
  }

  #check-out .returning-option .fa-info {
    border: var(--border-and-color);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 10px;
  }

  #check-out .check-out-system .heading h1 {
    font-size: 24px;
  }

  #check-out .check-out-system .product .heading {
    font-size: 24px;
    font-family: var(--primary-font);
    border-bottom: var(--border-and-color);
    padding-bottom: 5px;
    margin-top: 10px;
  }

  #check-out .check-out-system .product .product-img h1 {
    font-size: 18px;
  }

  #check-out .check-out-system .chipping-cost .heading {
    font-size: 24px;
  }

  #check-out .payment-button .confirm-btn h1 {
    font-size: 18px;
  }

  #check-out .payment-button .return-btn h1 {
    font-size: 18px;
  }

  .order-summery .choose-currency select {
    width: 120px;
  }

  .order-summery .choose-currency {
    font-size: 18px;
  }
}

/* Check Out End */
