
/* Product Start */
#products {
  width: 100%;
  padding-bottom: 50px;
}

#products .breadcrumb {
  padding: 20px 0px;
  background-color: transparent;
}

#products .breadcrumb span {
  font-size: 18px;
  margin: 0px 10px;
}

#products .breadcrumb .breadcrumb-item a {
  font-size: 18px !important;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #495057;
}

#products .breadcrumb-item.active {
  font-size: 18px !important;
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--accent-2);
}

#products .sidebar h5 {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

#products .sidebar ul {
  list-style: none;
  background: var(--white);
  border-radius: 8px !important;
}

#products .sidebar .list-group-item {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  background: var(--white);
  border-bottom: 1px solid #c4c4c4;
}

#products .sidebar .list-group-item:nth-child(10) {
  border-bottom: none !important;
}

#products .sidebar .list-group-item:hover {
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--bg);
}

#products .sidebar h5.mt-4 {
  margin-top: 30px;
}

#products .select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#products .select-wrapper p {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: #495057;
  margin-bottom: 0px;
}

#products .select-wrapper .custom-select {
  outline: none;
  border: 1px solid var(--accent-2);
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--secondary-color);
  padding: 4px;
  border-radius: 8px;
}

#products .card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#products .card:hover .card-img-top img {
  transform: scale(1.1);
}

#products .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 180px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
}

#products .card-img-top img {
  width: 100%;
  transition: transform 0.3s;
  object-fit: contain;
}

#products .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px !important;
}

#products .card-body h6 {
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 0px;
}

#products .card-body .price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
}

#products .card-text {
  margin-bottom: 0px;
  display: block !important;
}

#products .price-old {
  color: #6c757d;
  text-decoration: line-through;
  margin-right: 5px;
}

#products .page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

#products .page-link {
  font-size: 16px;
  font-family: var(--primary-font);
  padding: .375rem .75rem;
}

#products .page-link:hover {
  background: var(--bg);
  color: var(--secondary-color);
}

#products .page-link {
  position: relative;
  display: block;
  color: #80838b;
  background-color: var(--white);
  border: 1px solid #e2e5e8;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

#products .noUi-target {
  margin: 45px 10px 20px 5px;
}

#products .noUi-connect {
  background: var(--primary-color);
}

#products .noUi-tooltip {
  font-size: 12px;
  background: var(--accent-2);
  color: var(--white);
  border-radius: 6px;
  font-family: var(--primary-font);
  padding: 3px;
}

#products .filter-section {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#products .filter-section p {
  margin: 10px 0;
  font-size: 16px;
  font-family: var(--secondary-font);
}

#products .btn-primary {
  display: inline-block;
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  padding: 4px 20px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#products .btn-primary:hover {
  background-color: var(--accent-1);
  border-color: var(--accent-1);
}

#products .card-icons button {
  display: block;
  width: 100%;
  text-align: center;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  font-family: var(--primary-font);
  padding: 8px 0px;
  border-radius: 8px;
  transition: 0.4s;
  margin-bottom: 10px;
}

#products .card-icons button:hover {
  background: var(--primary-color);
  color: var(--white);
}

@media (max-width: 992px) {
  .col-lg-8 {
    margin-top: 30px !important;
  }

  #products .breadcrumb {
    margin-bottom: 0px;
  }

  #products .select-wrapper {
    gap: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  #products .card-img-top {
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  #products .card-img-top {
    height: 150px;
  }

  #products .col-6 {
    width: 50%;
  }
}

/* Product End */
